.title {
  text-align: center;
  color: white;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #209cee;
  height: 100vh;
  padding: 30px;
}

.todoList {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
}
.Form {
  display: flex;
  margin: 15px;
}

input[type="text"] {
  background-color: #F4F6FC;
  border-radius: 0.5rem;
  border: none;
  height: 3rem;
  padding: 0 1rem;
  margin: 0.8rem auto;
}
